




<header>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="file-tab" data-bs-toggle="tab" data-bs-target="#file" type="button" role="tab" aria-controls="file" aria-selected="true">File</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="Operational-tab" data-bs-toggle="tab" data-bs-target="#Operational" type="button" role="tab" aria-controls="Operational" aria-selected="false">Operational</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Viewer-tab" data-bs-toggle="tab" data-bs-target="#Viewer" type="button" role="tab" aria-controls="Viewer" aria-selected="false">Viewer</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
      </li>
     
    </ul>
  
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
        <ul class="tab-file-list"> 
          <li id="BSave" ><a href="#" id="ASave" draggable="false" >&nbsp<em class="far fa-save">&nbsp</em><h1>Save<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-users"></em><h1>Login<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-sign-out-alt"></em><h1>Sign Out<br>&nbsp</h1></a></li>
        </ul>
      </div>
      <div class="tab-pane fade show active" id="Operational" role="tabpanel" aria-labelledby="Operational-tab">
        <ul class="tab-file-list"> 
          <li id="Bconfig"><a href="#" id="Aconfig" draggable="false">&nbsp<em class="fas fa-cogs">&nbsp</em><h1>Configure<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fab fa-megaport"></em><h1>2 point<br>calibration</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-arrows-alt"></em><h1>Move<br>Channal</h1></a></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="Viewer" role="tabpanel" aria-labelledby="Viewer-tab">
        <ul class="tab-file-list"> 
          <li id="BViewer"><a href="/page6" target="_blank" id="AViewer" draggable="false">&nbsp<em class="fas fa-binoculars">&nbsp</em><h1>Viewer<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-chart-line"></em><h1>Chart<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-sign-out-alt"></em><h1>Sign Out<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false">&nbsp<em class="far fa-save">&nbsp</em><h1>Save<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fab fa-megaport"></em><h1>2 point<br>calibration</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-arrows-alt"></em><h1>Move<br>Channal</h1></a></li>
       </ul>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <ul class="tab-file-list"> 
          <li><a href="#"  draggable="false">&nbsp<em class="far fa-save">&nbsp</em><h1>Save<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-users"></em><h1>Login<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-sign-out-alt"></em><h1>Sign Out<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false">&nbsp<em class="far fa-save">&nbsp</em><h1>Save<br>&nbsp</h1></a></li>
          <li><a href="#" draggable="false"><em class="fab fa-megaport"></em><h1>2 point<br>calibration</h1></a></li>
          <li><a href="#" draggable="false"><em class="fas fa-arrows-alt"></em><h1>Move<br>Channal</h1></a></li>
       
        </ul>
      </div>
    </div>
    </div>
</header>