<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/AddCh.css' />
    <title>Port10</title>
</head>
<body>
    <form method="post">
        <div class="AdCh">
            <div class="mainAddChannel">Add Channel</div>
            <div class="NameAddChannel">
                <label id="NameAddChannel1-1" for="NameAddChannel1-2">Name:</label>
                <input id="NameAddChannel1-2" name="NameAddChannelInput"/>
                <button id="NameAddChannel1-3" type="submit">Add</button>
            </div>
        </div>
        
    </form>
</body>
</html>