
<div class="IplanLayout">
<div class="IG1">
<iframe scrolling="no" src="/h1" id="Iheader"frameborder="1"></iframe>
</div>
<div class="IG2">
<iframe scrolling="no" src="/side" id="ISide"frameborder="1"></iframe>
</div>
<div class="IG3">
<iframe  src="/" id="IBody"frameborder="1"></iframe>
</div>
</div>