<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/Sites.css' />
    <link rel='images' href='/images' />
    <title>Sites</title>

</head>
<body>
    <form method="post">
        <div class="grid-container">
<!-------------------------------------Grid1----------------------------------------------------------------->
            <div class="grid1">
                <div class="mainAddsite">Add Site</div>
                <div class="SiteName">
                    <label id="SiteName1-1" for="">Site Name</label>
                    <input id="SiteName1-2" name="SiteName"/>
                </div>
                <div class="Locate">
                    <label id="Locate1-1" for="">Location</label>
                    <input id="Locate1-2" name="Location"/>
                </div>
                <button id="addSite" type="submit">Add</button>
            </div>
<!-------------------------------------Grid2----------------------------------------------------------------->
            <div class="grid2">
                <div class="mainExport">Export Path:</div>
                <div class="ExportP">
                    <input id="ExportP1-1" name="ExportPath"/>
                </div>
                <div id="Folder1-1">
                    <button id="as1" type="button">
                        <nav nav class="navbar navbar-light bg-light">
                            <div class="container">
                              <a class="navbar-brand" href="#">
                                <img src="/images/folder.png" alt="" width="30" height="24">
                              </a>
                            </div>
                        </nav> 
                    </button>
                </div>
                <div class="mainFileName">File Name:</div>
                <div class="FileName">
                    <input id="FileName1-1" name="FileName"/>
                </div>
                <div id="Folder1-2">
                    <button id="as2" type="button">
                        <div>Open Folder</div>
                            <div>
                                <nav nav class="navbar navbar-light bg-light">
                                    <div class="container">
                                        <a class="navbar-brand" href="#">
                                        <img src="/images/folder.png" alt="" width="30" height="24">
                                        </a>
                                    </div>
                                </nav>
                            </div> 
                    </button>
                </div>
                <div id="Folder1-3">
                    <button id="as3" type="button">
                        <div>Export Configu</div>
                            <div>
                                <nav nav class="navbar navbar-light bg-light">
                                    <div class="container">
                                        <a class="navbar-brand" href="#">
                                        <img src="/images/folder.png" alt="" width="30" height="24">
                                        </a>
                                    </div>
                                </nav>
                            </div> 
                    </button>
                </div>
            </div>
<!-------------------------------------Grid3----------------------------------------------------------------->
            <div class="grid3">
                <div class="checkExport">
                    <div class="checkExport1">
                        <div>
                            <input type="checkbox" id="setExportSite1-1" name="ExportSite" value="true" />
                            <label id="setExportSite1-2" for="setExportSite1-1">Site</label>
                        </div>
                        <div>
                            <input type="checkbox" id="setExportUser1-1" name="ExportUser" value="true" />
                            <label id="setExportUser1-2" for="setExportUser1-1">Users</label>
                        </div>
                        <div>
                            <input type="checkbox" id="setExportAlert1-1" name="ExportAlert" value="true" />
                            <label id="setExportAlert1-2" for="setExportAlert1-1">Alert Settings</label>
                        </div>
                    </div>
                    <div class="checkExport2">
                        <div>
                            <input type="checkbox" id="setExportCommu1-1" name="ExportCommu" value="true" />
                            <label id="setExportCommu1-2" for="setExportCommu1-1">Communication</label>
                        </div>
                        <div>
                            <input type="checkbox" id="setExportSRec1-1" name="ExportSRec" value="true" />
                            <label id="setExportSRec1-2" for="setExportSRec1-1">Sound Record.</label>
                        </div>
                    </div>
                    <div class="checkExport3">
                        <div>
                            <input type="checkbox" id="setExportSeq1-1" name="ExportSeq" value="true" />
                            <label id="setExportSeq1-2" for="setExportSeq1-1">Sequence</label>
                        </div>
                        <div>
                            <input type="checkbox" id="setExportVRec1-1" name="ExportVRec" value="true" />
                            <label id="setExportVRec1-2" for="setExportVRec1-1">Video Record.</label>
                        </div>
                    </div>
                </div>
                <div class="mainImport">Import Path</div>
                <div class="ImportP">
                    <input id="ImportP1-1" name="ImportPath"/>
                </div>
                <div id="FolderIm1-1">
                    <button id="asIm1" type="button">
                        <nav nav class="navbar navbar-light bg-light">
                            <div class="container">
                              <a class="navbar-brand" href="#">
                                <img src="/images/folder.png" alt="" width="30" height="24">
                              </a>
                            </div>
                        </nav> 
                    </button>
                </div>
                <div id="FolderIm1-3">
                    <button id="as3Im" type="button">
                        <div>Export Configu</div>
                        <div>
                            <nav nav class="navbar navbar-light bg-light">
                                <div class="container">
                                    <a class="navbar-brand" href="#">
                                    <img src="/images/folder.png" alt="" width="30" height="24">
                                    </a>
                                </div>
                            </nav>
                        </div> 
                    </button>
                </div>
                <div id="FolderIm1-2">
                    <button id="as2Im" type="button">
                        <div>Open Folder</div>
                            <div>
                                <nav nav class="navbar navbar-light bg-light">
                                    <div class="container">
                                        <a class="navbar-brand" href="#">
                                        <img src="/images/folder.png" alt="" width="30" height="24">
                                        </a>
                                    </div>
                                </nav>
                            </div> 
                    </button>
                </div>
                <div class="FileNameIm">
                    <input id="FileNameIm1-1" name="FileNameIm"/>
                </div>
            </div>  
        </div>
    </form>
</body>
</html>